---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-narrowing-conversions,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion
WarningsAsErrors: ''
HeaderFilterRegex: '.*/include/qoi/.*'
FormatStyle: file
CheckOptions:
  - key: cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion
    value: 'true'
...
